{profiles, [
  {test, [
    {erl_opts, [nowarn_export_all, debug_info]},
    {extra_src_dirs, ["test"]}
  ]},
  {debug, [
    {erl_opts, [debug_info]}
  ]},
  {prod, [
    {erl_opts, [
      deterministic,
      warnings_as_errors,
      compressed
    ]}
  ]},
  {example, [
    {erl_opts, [
      debug_info,
      {src_dirs, ["examples", "src"]}
    ]},
    {escript_name, "errm_ws_example"},
    {escript_main_app, errm_ws},
    {escript_emu_args, "%%! +sbtu +A0\n"}
  ]}
]}.
